.fullWrapper{
	width: 100%;
	margin: 0 auto;
	border: 1px solid red;
	box-sizing: border-box;
}
.nav{
	display: block;
	margin-top: 0;
	border: 1px solid red;
	height: 40px;
	background-image: -webkit-linear-gradient(rgba(255,241,135,1), rgba(255,241,135,0));
	background-image: -o-linear-gradient(rgba(255,241,135,1), rgba(255,241,135,0));
	background-image: linear-gradient(rgba(255,241,135,1), rgba(255,241,135,0));
}
#main{
	position: absolute;
	top: 40px;
	display: block;
	height: 1700px;
	width: 1200px;
	background-image: linear-gradient(to bottom, green, yellow);
	border: 1px solid red;
}

.indicator{
	position: absolute;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	border: 1px solid black;
	z-index: 512;
}